Main features requested by the admin 

first in first out - sale , low waiting number first , 

description , feed back , saakshi patram , 

when pipeline change stages also change , but field all same , stages only we can change , we should also be able to change stages

one pipeline - SMAM , sale , khseerasree , general subsidy , irrigation subsidy 

stages - sale , supply , installation , , sale completed , feedback , demo etc , 